:root {
  --body-background-color: #404040;
  --input-primary-color: #d9a941;
}

body {
  background-color: var(--body-background-color);
  padding: 4vh 7vw;
}

.content, #buckets {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#listbooks ul {
  list-style-type: none;
  padding: 0px;
}

.bi-play-circle {
  color: var(--input-primary-color);
  cursor: pointer;
}
